[submodule "Vectorization-Public"]
	path = Vectorization-Public
	url = https://github.com/UTFOIL/Vectorization-Public.git
[submodule "VessMorphoVis"]
	path = blender_resources/VessMorphoVis
	url = https://github.com/BlueBrain/VessMorphoVis.git
[submodule "legacy/Vectorization-Public"]
	path = legacy/Vectorization-Public
	url = https://github.com/UTFOIL/Vectorization-Public.git
[submodule "external/blender_resources/VessMorphoVis"]
	path = external/blender_resources/VessMorphoVis
	url = https://github.com/BlueBrain/VessMorphoVis.git
