
[submodule "external/Vectorization-Public"]
	path = external/Vectorization-Public
	url = https://github.com/UTFOIL/Vectorization-Public.git
[submodule "external/blender_resources/VessMorphoVis"]
	path = external/blender_resources/VessMorphoVis
	url = https://github.com/BlueBrain/VessMorphoVis.git
